@import 'tailwindcss';


:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary: #2ababb;
  
  --color-shadow: #146161;

  --text-dark: #2b2828;
  --text-gray: #d6d2d2;

  --background-color: #f5f5f8;
  --gallery-overlay: rgba(0, 0, 0, 0.8);
}

